@model dynamic

@using (Script.Foot()) {
    <script type="text/javascript">
        $(function () {
            $(".alert").alert();
        });
    </script>
}

<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>@Html.TitleForPage(T("Challenge Email").ToString())</strong>
    <p>@T("Your email address could not be validated.")</p>
</div>
