@using PJS.Bootstrap.Services;
@using Orchard.Comments.Models

@{
    var settings = WorkContext.Resolve<IThemeSettingsService>().GetSettings();
    
    CommentPart comment = Model.ContentPart;
}

@if (settings.BlogPostLayout == 1) {
    <a href="#" class="comment-reply" data-id="@comment.Id">@T("Reply")</a>
}
else if (settings.BlogPostLayout == 2 || settings.BlogPostLayout == 3) {
    <a href="#" class="comment-reply pull-right" data-id="@comment.Id"><i class="fa fa-reply"></i>&nbsp;@T("Reply")</a>
}