@using Orchard.ContentManagement;

@{ 
    var blogPost = Model.ContentItem;

    string bodyHtml = Model.Html.ToString();
    var body = new HtmlString(Html.Excerpt(bodyHtml, 500).ToString().Replace(Environment.NewLine, "</p>" + Environment.NewLine + "<p>"));
}

<p>@body</p>
<a href="@Url.ItemDisplayUrl((IContent)blogPost)" class="btn btn-primary btn-sm">Read More</a>